{% extends "generics/dashboard_form.html" %}
{% load i18n %}
{% load bootstrap_form %}
{% load staticfiles %}

{% block form %}
    {% if form_basic.errors or form_user.errors or form_personal.errors or form_contact.errors or form_ecclesiastic.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          Existem alguns campos que são obrigatórios. <br>Verifique as abas marcas com <span class="fa fa-exclamation-triangle"></span>
        </div>
    {% endif %}
    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
        <div class="panel">
            <div class="panel-body">
                {% csrf_token %}
                {{ form_user|as_bootstrap}}

                {% if object %}
                <div class="form-group form-group-sm">
                    <label class="col-sm-3 col-lg-2 control-label">{% trans 'Password' %}</label>
                    <div class="col-sm-8 col-lg-4">
                        <span class="help-block"><a href="">{% trans "Change Password" %}</a></span>
                    </div>
                </div>
                {% endif %}
                {% buttons %}
            </div>
        </div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#user" aria-controls="user" role="tab" data-toggle="tab">
            {% trans 'Photo' %} {% if form_basic.errors %}<span class="text-danger fa fa-exclamation-triangle"></span>{% endif %}
        </a></li>
        <li role="presentation"><a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">
            {% trans 'Personal' %} {% if form_personal.errors %}<span class="text-danger fa fa-exclamation-triangle"></span>{% endif %}
        </a></li>
        <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">
            {% trans 'Contact' %}  {% if form_contact.errors %}<span class="text-danger fa fa-exclamation-triangle"></span>{% endif %}
        </a></li>
        <li role="presentation"><a href="#ecclesiastic" aria-controls="contact" role="tab" data-toggle="tab">
            {% trans 'Ecclesiastic' %}  {% if form_ecclesiastic.errors %}<span class="text-danger fa fa-exclamation-triangle"></span>{% endif %}
        </a></li>
    </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="user">
                <div class="panel-body">
                        {{ form_basic|as_bootstrap}}
                        {% buttons %}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="personal">
                 <div class="panel-body">
                        {{ form_personal|as_bootstrap}}
                        {% buttons %}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="contact">
                 <div class="panel-body">
                        {{ form_contact|as_bootstrap}}
                        {% buttons %}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="ecclesiastic">
                 <div class="panel-body">
                        {{ form_ecclesiastic|as_bootstrap}}
                        {% buttons %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block extra_footer_scripts %}
    {{ form_user.media }}
    {{ form_contact.media }}
    {{ form_personal.media }}
    {{ form_ecclesiastic.media }}
{% endblock %}